body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: tomato;
}

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}